{% extends "startup/base.html" %}
{% block additional_styles %}
    <style>
        body {
        background: #fafafa;
        }
    </style>
    {% endblock additional_styles %}

{% block content%}
<div>
<h3> Included Amenities</h3>
<p>You focus on growing your business, we take care of the rest.</p>
</div>

<div class="content-section">
    <div class="row">
    <div class="col-md-3">
        <i class="fa fa-users fa-3x " aria-hidden="true"></i><h5>Retail Staff</h5>
    </div>
    <div class="col-md-3">
           <i class="fa fa-bars fa-3x" aria-hidden="true"></i><h5>Modular Shelves</h5>
    </div>
    <div class="col-md-3">
          <i class="fa fa-credit-card fa-3x" aria-hidden="true"></i>  <h5>POS Terminals</h5>
    </div>
    <div class="col-md-3">
            <i class="fa fa-barcode fa-3x" aria-hidden="true"></i><h5>Barcode Labels</h5>
    </div>
    <div class="col-md-3">
            <i class="fa fa-shopping-bag fa-3x" aria-hidden="true"></i><h5>Shopping Bags</h5>
    </div>
    <div class="col-md-3">
            <i class="fa fa-wrench fa-3x" aria-hidden="true"></i><h5>Maintenance</h5>

    </div>
    <div class="col-md-3">
            <i class="fa fa-wifi fa-3x" aria-hidden="true"></i><h5>Super-fast internet</h5>
    </div>
    <div class="col-md-3">
            <i class="fa fa-tags fa-3x" aria-hidden="true"></i><h5>Pricing Tags</h5>
    </div>
    <div class="col-md-3">
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i><h5>Social Media Blast</h5>
    </div>
    <div class="col-md-4">
            <i class="fa fa-building fa-3x" aria-hidden="true"></i><h4>Ambience</h4>
    </div>
</div>
</div>
{% endblock content%}
