{% extends "startup/base.html" %}
{% load static %}
{% block content%}

<div class="container">
    <div class="a" >
    <img src="{% static 'startup/front2.jpeg' %}" alt="">
</div>
</div>



<div class="row">
    <div class="col-md-7" >
        <div class="content-section" id="over">
            <img src="{% static 'startup/offer.png' %} " alt="" >
        </div>
    </div>
    <div class="col-md-5" id="over2">
        <div class="container" >
                   <h3>Still Waiting? Start Referring! Hurry Up </h3>
                    <p>Sign up <a  href="https://bit.ly/2JnbLAt">http://www.startupsstore.com/</a></p>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-5" id="over3">
        <div class="container" >
                   <h3>#GoodFriday — You Got This!</h3>
            <p>On every friday book 12-Months of premium retail space, all you need to pay a refundable deposit of ₹100,000 and Voila! You are now a member. Valid for an year and for members who opt premium spaces only. Join the offline community today: <a  href="https://bit.ly/2AJK1zG."> https://bit.ly/2AJK1zG.</a></p>
        </div>
    </div>
    <div class="col-md-7" >
        <div class="content-section" id="over4">
            <img src="{% static 'startup/offer.jpeg' %} " alt="" >
        </div>
    </div>
</div>



{% endblock content%}
