{% extends "startup/base.html" %}
{% block additional_styles %}
    <style>
        body {
        background: #fafafa;
        }
    </style>
    {% endblock additional_styles %}
{% block content %}

<div>
    <h1>What will it cost go offline?</h1>
    <br>
</div>
<h4> Membership Options</h4>
<div class="row">

    <div class="col-md-4">
        <div class="content-section">
            <h4>Premium Space</h4>
            <p class="text-muted">For those who wants to sell only at Startups Store</p>
            <div>Space - 6 Cubic Feet Box Units Space</div>
            <div>Location - Centre Trending Wall</div>
            <div>Sub-Category-Max 2 Allowed</div>
            <div>Shelf Life -90 Days</div>
            <div>Stock Turn Over -Unlimited</div>
            <div>Stock Keeping Units - 150 Qty</div>
            <div>Top of Production Units-10 Qty</div>
            <div>Refundable Deposit-₹30,000/member</div>
            <div>Revenue Share -20% of Net Sales</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="content-section">
            <h4> Pop-Up Space</h4>
            <p class="text-muted">For those who just started recently and are online only</p>
            <div>Space - 6 Cubic Feet Box Units Space</div>
            <div>Location - Left Creative Wall</div>
            <div>Sub-Category-Max 2 Allowed</div>
            <div>Shelf Life -60 Days</div>
            <div>Stock Turn Over- Unlimited</div>
            <div>Stock Keeping Units- 100 Qty</div>
            <div>Top of Production Units-10 Qty</div>
            <div>Refundable Deposit-₹20,000/member</div>
            <div>Revenue Share -25% of Net Sale</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="content-section">
            <h4>Part-Time Space</h4>
            <p class="text-muted">For those who also sells in other Retail Stores</p>
            <div>Space - 6 Cubic Feet Box Units Space</div>
            <div>Location - Right Innovative Wall</div>
            <div>Sub-Category-Max 2 Allowed</div>
            <div>Shelf Life -30 Days</div>
            <div>Stock Turn Over -Unlimited</div>
            <div>Stock Keeping Units - 50 Qty</div>
            <div>Top of Production Units-10 Qty</div>
            <div>Refundable Deposit-₹10,000/member</div>
            <div>Revenue Share -30% of Net Sales</div>
        </div>
    </div>
</div>
</div>
{% endblock %}
